name: Deploy in beta
on: 
  push:
    branches:
      - develop
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Executing remote ssh 2 commands using password
        uses: appleboy/ssh-action@master
        env:
          CLONE_DIR: /home/john/group5
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          port: 22
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: CLONE_DIR
          script: |
            echo "Hello world $CLONE_DIR"
            mkdir -p /home/john/group5
            rm -rf /home/john/group5/*
            git clone -b develop git@github.com:florentGallitre/group5-back.git /home/john/group5
            cd /home/john/group5
            npm install
            npm run build
                   