name: Deploy in beta
on: 
  push:
    branches:
      -develop
jobs:
  deploy:
    runs-on: unbuntu-latest
    steps:
      -name: Executing remote ssh 2 commands using password
      uses: appleboy/ssh-action@master
      with:
        host:  ${{ secrets.HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        port: 22
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: echo "Hello world"
